@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: 25, 25, 36;
  --background-color-secondary: 28, 28, 39;

  --text-color-white: 242, 243, 244;
  --text-color-white-dim: 177, 178, 179;
}

body {
  color: rgb(var(--text-color-white));
  background: rgb(var(--background-color-primary));
}
